<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.text-block {
  color: white;
  background-color: rgb();
  height: max-content;
  width: max-content;
  position: center;
  text-align: center
  margin: auto;
}
</style>
</head>
<body style=" background-image: url('/assets/pharmacy.jpg'); background-size: cover;">

<%= link_to 'Home', root_path %>

 
  <div class="text-block">
    <h1 style="text-align: center">ABOUT MEDISERV</h1>
   
  </div>

</body>
</html> 