<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style=" background-image: url('/assets/home.jpg'); background-size: cover;">
  
  
<%= link_to 'About', about_path %>
<%= link_to 'Medicines', medicines_path %>

 
  
  <div class="center jumbotron">
  	<h1 style="color: grey"><strong>1 BENGAL AIR SQN NCC</strong></h1>
  	<%= link_to "Explore and Sign Up", "signup", class: "btn btn-primary btn-lg btn-xlarge" %>
  </div>

</body>
</html> 